* {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.bg {
  background: url(./image/Default1_Pre.jpg);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
  position: absolute;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

}

.bg2 {
  background-size: 120%;
}

.bg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.searchTerms {
  margin-top: -316px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* display: none; */
}

.searchTerms .datalist {
  animation: delayedFadeIn 2s;
  color: #fff;
  font-size: 24px;
  margin-bottom: 24px;
  transition: 0.2s linear;
  z-index: 100;

}

.searchTerms .datalist:hover {
  font-size: 28px;
}

.searchTerms .inputCustom {
  outline: none;
  border: none;
  opacity: 0.8;
  width: 230px;
  height: 43px;
  outline: 0;
  padding: 0 20px;
  color: inherit;
  background-color: transparent;
  font-size: 14px;
  font-family: var(--fonts-light);
  text-align: center;
  border-radius: 21px;

  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2);
  transition: 0.2s linear;
  box-shadow: #232323 0px 0px 10px;
}

.searchTerms .inputCustom:hover {
  width: 600px;
  color: #93979A;
  background-color: #F6F9FA;
}

.searchTerms .inputCustom2 {
  outline: none;
  border: none;
  width: 600px;
  height: 43px;
  padding: 0 20px;
  color: inherit;
  font-size: 14px;
  font-family: var(--fonts-light);
  text-align: center;
  border-radius: 21px;
  color: #98999A;
  box-shadow: #232323 0px 0px 10px;
  z-index: 1;
}

.bg .wh100 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
}

.bg .wh100active {
  width: 100%;
  height: 145%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2);
  transition: 0.2s linear;
  box-shadow: #232323 0px 0px 10px;

}

.bg .searchTerms .icon-sousuo {
  border: none;
  background-color: transparent;
  outline: none;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  /* background-color: #93979A; */
  position: relative;
  top: 0px;
  left: -40px;
}

.bg .searchTerms .icon-sousuo:hover {
  background-color: #f4f4f4;
  box-shadow: #232323 0px 0px 10px;
}

.bg3 {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2);
  transition: 0.2s linear;
  box-shadow: #232323 0px 0px 10px;
}

.searchTermsUp {
  display: none;
}
a {
  text-decoration: none;
  outline: none;
  color: #000;
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.bg3 .FunctionModule {
  position: relative;
  top: 40px;
  width: 650px;
  height: 415px;
  overflow-y: auto;

  /* background-color: aquamarine; */
}

.bg3 .FunctionModule::-webkit-scrollbar {
  width: 0px;
}

.bg3 .FunctionModule .top {}

.bg3 .FunctionModule .top li {
  margin: 10px 25px 40px;
  background-color: #EBEBEB;
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  transition: background-color .35s;
  font-size: 19px;

}

.bg3 .FunctionModule .top li:hover {
  background-color: #CDCDCD;
}

.bg3 .FunctionModule .top li a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg3 .FunctionModule .top li .iconfont {
  width: 26px;
  height: 26px;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 0;
  font-size: 26px;
  margin: 0 auto;
}

.bg3 .FunctionModule .top .topButton {
  position: relative;
  top: 17px;
}

.bg3 .FunctionModule .top .topButton button {
  border-radius: 15px;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  outline: none;
  border: none;

  font-size: 40px;

}

.bg3 .FunctionModule .top .topButton:hover button {
  background-color: #CDCDCD;
}


#btn111{
  font-size: 30px;
  position: absolute;
  top: 15px;
  right: 20px;
}